[Unit]
Description=OpenJVSService

[Service]
User=root
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/openjvs

[Install]
WantedBy=multi-user.target
